@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baumans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");
* {
  margin: 0%;
  padding: 0%; }

html {
  width: 100%;
  height: 100%; }

.homeContainer {
  min-width: 100%;
  background-color: black; }

a:hover {
  transform: scale(1.1); }

/*---------------H E A D E R  Y  N A V---------------*/
.navbar-nav, .navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  letter-spacing: 1px; }

.imgHeader2 {
  max-width: 100%; }

/*---------------Q U I E N E S  S O M O S---------------*/
.title {
  display: flex;
  font-size: 4em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  justify-content: center;
  width: 100%;
  text-align: center; }

#who {
  padding-top: 7em;
  padding-bottom: 3em;
  background-color: #fff; }

.who {
  font-size: 2.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: center;
  text-align: center; }

.whoTexto {
  font-family: 'Arvo', sans-serif;
  font-size: 1.2em;
  text-align: center; }

.corteFondo {
  background-color: #000;
  height: 1.5em; }

/*---------------N O V E D A D E S---------------*/
#news {
  background-color: #fff; }

.news {
  font-size: 2.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: center; }

.fotoNews4 {
  max-width: 100%; }

.listaNews {
  font-family: 'Arvo', sans-serif;
  font-size: 1.2em;
  text-align: center; }

.titleCarousel, .textoCarousel {
  color: black; }

/*---------------C L I E N T E S---------------*/
#clientes {
  background-color: #fff;
  padding-top: 4em;
  padding-bottom: 5em; }

.clientes {
  font-size: 2.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: center; }

.textoClientes {
  font-family: 'Arvo', sans-serif;
  font-size: 1.2em;
  text-align: center; }

/*---------------S E R V I C I O S---------------*/
.contenedor {
  background-color: #C0BCB5; }

.serv1 {
  background-color: #ED474A; }

.serv2 {
  background-color: #846075; }

.serv3 {
  background-color: #AF5D63; }

.titleServicios {
  display: flex;
  font-size: 4em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  justify-content: center;
  width: 100%;
  background-color: #C0BCB5; }

.subServicio, .subServicio2, .subServicio3 {
  font-size: 2.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: center;
  background-color: #C0BCB5; }

.textoServ {
  font-family: 'Arvo', sans-serif;
  font-size: 1.2em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }

.imgServicios1, .imgServicios2, .imgServicios3 {
  margin-bottom: 2em;
  margin-top: 2em;
  width: 100%; }

/*---------------C O N T A C T O---------------*/
.textoContacto {
  font-family: 'Arvo', sans-serif;
  font-size: 1.2em;
  text-align: center;
  display: flex;
  justify-content: center; }

.titleContacto {
  display: flex;
  font-size: 4em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  justify-content: center;
  width: 100%; }

/*---------------F O O T E R---------------*/
.foot {
  border-top: solid 2px #941414;
  background-color: #0A100D; }

.social {
  color: #ffffff;
  font-size: 2.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: center; }

.socialLinks-container {
  display: flex;
  justify-content: center; }

.textoSocial {
  color: #ffffff;
  display: flex;
  font-family: 'Advent Pro', sans-serif;
  font-size: 1.1em;
  text-align: center;
  justify-content: center; }

.socialLinks {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  width: 30%;
  padding-left: 0; }
  .socialLinks li a {
    text-decoration: none;
    font-size: 1.5em;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    color: #ffffff;
    border-radius: 50%; }

.red--instagram {
  background: #741699; }
  .red--instagram:hover {
    background: black; }
    .red--instagram:hover .red__nombre {
      color: #741699; }

.red--facebook {
  background: #2956a3; }
  .red--facebook:hover {
    background: black; }
    .red--facebook:hover .red__nombre {
      color: #2956a3; }

.red--linkedin {
  background: #0300b8; }
  .red--linkedin:hover {
    background: black; }
    .red--linkedin:hover .red__nombre {
      color: #0300b8; }

.red--pinterest {
  background: #ce1231; }
  .red--pinterest:hover {
    background: black; }
    .red--pinterest:hover .red__nombre {
      color: #ce1231; }

@media screen and (max-width: 425px) {
  .title {
    padding-top: 1em;
    font-size: 2.4em; }
  .socialLinks {
    width: 60%; }
  .who, .news, .clientes {
    font-size: 2.0em; }
  .whoTexto, .listaNews, .textoClientes {
    font-size: 1em; } }
