@import url("https://fonts.googleapis.com/css2?family=Barlow:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap");
/*---------------H E A D E R  Y  N A V---------------*/
.logoHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../imagenes/pexels-stein-egil-liland-3374210.jpg");
  background-size: cover;
  background-attachment: fixed; }

.logo {
  padding: .3em .3em .3em .3em;
  border-radius: 50%;
  height: 13em; }

.navbar-nav, .navbar-brand {
  font-family: 'Barlow', sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px; }

/*---------------F O O T E R---------------*/
.foot {
  border-top: solid 2px #941414;
  background-color: #000; }

.social {
  color: #ffffff;
  font-family: 'Abel', sans-serif;
  font-size: 2.5em;
  display: flex;
  justify-content: center; }

.socialLinks-container {
  display: flex;
  justify-content: center; }

.textoSocial {
  color: #ffffff;
  display: flex;
  font-family: 'Advent Pro', sans-serif;
  font-size: 1.1em;
  text-align: center;
  justify-content: center; }

.socialLinks {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  width: 30%;
  padding-left: 0; }
  .socialLinks li a {
    text-decoration: none;
    font-size: 1.5em;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    background: #0ea4be;
    color: #ffffff;
    border-radius: 50%; }

@media screen and (max-width: 425px) {
  .title {
    font-size: 3.2em; }
  .socialLinks {
    width: 60%; } }

* {
  margin: 0%;
  padding: 0%; }

html {
  width: 100%;
  height: 100%; }

.homeContainer {
  min-width: 100%; }

a:hover {
  transform: scale(1.1); }

/*---------------Q U I E N E S  S O M O S---------------*/
.title {
  display: flex;
  font-size: 4.2em;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 600;
  justify-content: center;
  margin-bottom: 1em; }

#who {
  margin-bottom: 1.5em; }

.who {
  font-size: 2.5em;
  font-family: 'Abel', sans-serif;
  text-align: center; }

.whoTexto {
  font-family: 'Advent Pro', sans-serif;
  font-size: 1.2em;
  text-align: center; }

/*---------------N O V E D A D E S---------------*/
#news {
  margin-bottom: 1.5em; }

.news {
  font-size: 2.5em;
  font-family: 'Abel', sans-serif;
  display: flex;
  justify-content: center; }

.listaNews1, .listaNews2, .listaNews3, .listaNews4 {
  font-family: 'Advent Pro', sans-serif;
  font-size: 1.2em;
  text-align: center; }

/*---------------C L I E N T E S---------------*/
#clientes {
  margin-bottom: 1em; }

.clientes {
  font-size: 2.5em;
  font-family: 'Abel', sans-serif;
  display: flex;
  justify-content: center; }

.textoClientes {
  font-family: 'Advent Pro', sans-serif;
  font-size: 1.2em;
  text-align: center; }

/*---------------S E R V I C I O S---------------*/
.titleServicios {
  display: flex;
  font-size: 4.2em;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 600;
  justify-content: center;
  margin-bottom: 1em; }

.subServicio, .subServicio2, .subServicio3 {
  display: flex;
  justify-content: center;
  font-family: 'Abel', sans-serif;
  font-size: 2.5em; }

.textoServ {
  font-family: 'Advent Pro', sans-serif;
  font-size: 1.2em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }

.imgServicios1, .imgServicios2, .imgServicios3 {
  margin-bottom: 2em;
  margin-top: 2em;
  width: 100%; }

/*---------------C O N T A C T O---------------*/
.textoContacto {
  font-family: 'Advent Pro', sans-serif;
  font-size: 1.2em;
  text-align: center;
  display: flex;
  justify-content: center; }

.titleContacto {
  display: flex;
  font-size: 4.2em;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 600;
  justify-content: center;
  margin-bottom: 1em; }
