@import url('https://fonts.googleapis.com/css2?family=Barlow:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap');
*{
    margin: 0%;
    padding: 0%;
}


.header{
    width: 98.45vw;
    height: 12rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: black;
    border-bottom: solid 2px rgb(148, 20, 20);
}
.nav{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-column: 1/4;
    grid-row: 1/4;
    align-self: center;
}
.nav ul{
    list-style: none;
    display: flex;
    font-size: 23px;
    font-family: 'Barlow', sans-serif;
    justify-content: space-between;
}
.left{
    grid-column: 1/2;
    grid-row: 2/3;
    justify-content: center;
    margin-left: 30px;
    
}

.right{
    margin-right: 30px;
    grid-column: 3/4;
    grid-row: 2/3;
    justify-content: center;
}
.left ul{
    display: flex;
    justify-content: space-between;
    transition: all 1s;
}
.left ul li a, .right ul li a{
    color: white;
    text-decoration: none;
    border: solid 2px;
    border-radius: 5%;
    padding: 2px 5px 4px 5px;
}
.left li:hover , .right li:hover{
    transform: scale(1.1);
}

.logoHeader, .logoHeaderServicios, .logoHeaderContacto {
    height:  10rem;
    background-color: black;
    padding: .3em .3em .3em .3em;
    border-radius: 50%;
    display: flex;
    grid-column: 2/3;
    grid-row: 1/4;
    justify-content: center;
    justify-self: center;
    margin-top: .5em;
}


.main{
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap:10px;
    width: 98.45vw;
    height: 240vh;

}
.title{
    grid-column: 1/5;
    grid-row: 1/2;
    font-size: 56px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
#who{
    grid-column: 1/5;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    height: 50vh;
    grid-gap: 10px;
    background-color: rgb(231, 209, 180);
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
}
.who{
    font-size: 30px;
    font-family: 'Abel', sans-serif;
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    
}
#news{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
    grid-column: 1/5;
    grid-gap: 5px;
    height: 100vh;
    background-color: rgb(231, 209, 180);
    border-radius: 50%;

}
#clientes{
    grid-column: 1/5;
    grid-template-rows: 1/2;
    background-color: rgb(231, 209, 180);
    border-radius: 50%;

}
#footer{
    grid-column: 1/5;
    grid-template-rows: 1/2;
}
.videoHome{
    grid-column: 4/5;
    grid-row: 1/6;
    margin-right: 30px;
}
.whoTexto{
    grid-column: 1/4;
    grid-row: 2/6;
    font-family: 'Advent Pro', sans-serif;
    font-size: 26px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.news{
    grid-column: 1/5;
    grid-row: 1/2;
    font-size: 30px;
    font-family: 'Abel', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fotoHome1{
    grid-column: 1/2;
    grid-row: 2/5;
    width: 250px;
    height: 300px;
    justify-self: center;
    border-radius: 5%;
}
.fotoHome2{
    grid-column: 2/3;
    grid-row: 2/5;
    width: 250px;
    height: 300px;
    justify-self: center;
    border-radius: 5%;
}
.fotoHome3{
    grid-column: 3/4;
    grid-row: 2/5;
    width: 250px;
    height: 300px;
    justify-self: center;
    border-radius: 5%;
}
.fotoHome4{
    grid-column: 4/5;
    grid-row: 2/5;
    width: 250px;
    height: 300px;
    justify-self: center;
    border-radius: 5%;
}
.newsUl{
    grid-column: 1/5;
    grid-row: 5/7;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap: 10px;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    text-align: center;
    font-family: 'Advent Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
}
#clientes{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
    height: 60vh;
    grid-gap: 15px;
}
.clientes{
    display: flex;
    grid-column: 1/5;
    grid-row: 1/2;
    justify-content: center;
    font-family: 'Abel', sans-serif;
    font-size: 30px;
}
.imgClientes{
    grid-column: 1/3;
    grid-row: 2/6;
    border-radius: 5%;
    margin-left: 30px;
}
.textoClientes{
    grid-column: 3/5;
    grid-row: 2/6;
    font-family: 'Advent Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    text-align: center;
    align-self: center;
}

.foot{
    border-top: solid 2px rgb(148, 20, 20)  ;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    height: 25vh;
    grid-gap:10px;
    background-color: #000;
}
.social{
    color: #ffffff;
    grid-column: 1/5;
    grid-row: 1/2;
    font-family: 'Abel', sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    
}
.socialLinks-container{
    grid-column: 2/4;
    grid-row:2/3;
}
.textoSocial{
    color: #ffffff;
    display: flex;
    grid-column: 2/4;
    grid-row: 3/4;
    font-family: 'Advent Pro', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
.socialLinks{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    
}
.socialLinks li a{
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #0ea4be;
    color: #ffffff;
    border-radius: 50%;
}



