@import url('https://fonts.googleapis.com/css2?family=Barlow:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap');
*{
    margin: 0%;
    padding: 0%;
    font-size: 62.5%;
}
html{
    width: 100%;
    height: 100%;
}
.homeContainer{
    min-height: 100%;
    min-width: 100%;
    display: grid;
    gap: 10px;
    grid-template-areas:
    "header header header header" 
    "who who who who"
    "news news news news"
    "clientes clientes clientes clientes"
    "footer footer footer footer"
    ;
}


/*---------------HEADER Y NAV---------------*/

.header{
    grid-area: header;
    display: grid;
    /*background: rgb(0,0,0);
    background: linear-gradient(338deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.9780287114845938) 50%, rgba(255,0,0,1) 100%);
    */
    background-color: black;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    border-bottom: solid 2px rgb(148, 20, 20);

}
.logoHeader{
    grid-column: 2/3;
    grid-row: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.logo{
    padding: .3em .3em .3em .3em;
    border-radius: 50%;
    height:  125em;
}

.nav{
    grid-row: 2/3;
    grid-column: 1/5;
    display: flex;
    justify-content: space-between;
    
}
.nav ul{
    list-style: none;
    display: flex;
    font-size: 35em;
    font-family: 'Barlow', sans-serif;
    
}

.left, .right{
    width: 35%;
    align-self: center;
    margin-left: 5em;
    margin-right: 5em;
    
    
}
.left ul, .right ul{
    display: flex;
    justify-content: space-between;
    transition: all 1s;
}
.left ul li a, .right ul li a{
    color: white;
    text-decoration: none;
    border: solid 2px;
    border-radius: 5%;
    padding: 2px 5px 4px 5px;
    
}
.left li:hover , .right li:hover{
    transform: scale(1.1);
}

/*---------------QUIENES SOMOS---------------*/

#who{
    grid-area: who;
}
.title{

    display: flex;
    font-size: 15em;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;
    justify-content: center;
}

.whoContainer{
    display: flex;
    justify-content: space-between;
}
.who{
    font-size: 20em;
    font-family: 'Abel', sans-serif;
    text-align: center;
}
.whoTexto{
    font-family: 'Advent Pro', sans-serif;
    font-size: 15em;
    text-align: center;
}

/*---------------NOVEDADES---------------*/

#news{
    grid-area: news;
}
.news{
    font-size: 10em;
    font-family: 'Abel', sans-serif;
    display: flex;
    justify-content: center;
}
.fotosContainer{
    display: flex;
    justify-content: space-between;
    margin-right: 8em;
    margin-left: 8em;
}
.newsTexto{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: 'Advent Pro', sans-serif;
    font-size: 10em;
    height: 8em;
}
.fotoNews1{
    width: 150em;
    height: 200em;
    border-radius: 5%;
}
.fotoNews2{

    width: 150em;
    height: 200em;
    border-radius: 5%;
}
.fotoNews3{
    width: 150em;
    height: 200em;
    border-radius: 5%;
}
.fotoNews4{
    
    width: 150em;
    height: 200em;
    border-radius: 5%;

}

/*---------------CLIENTES---------------*/

#clientes{
    grid-area: clientes;
}
.clientes{
    display: flex;
    justify-content: center;
    font-family: 'Abel', sans-serif;
    font-size: 10em;
}
.clientesContainer{
    display: flex;
    justify-content: space-between;
}
.textoClientes{
    font-family: 'Advent Pro', sans-serif;
    font-size: 10em;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.imgClientes{
    margin-left: 5em;
    border-radius: 5%;
}

/*---------------FOOTER---------------*/

.foot{
    grid-area: footer;
    border-top: solid 2px rgb(148, 20, 20);
    height: 25vh;
    background-color: #000;
}
.social{
    color: #ffffff;
    font-family: 'Abel', sans-serif;
    font-size: 8em;
    display: flex;
    justify-content: center;
    
}
.socialLinks-container{
    display: flex;
    justify-content: center;
}

.textoSocial{
    color: #ffffff;
    display: flex;
    font-family: 'Advent Pro', sans-serif;
    font-size: 4em;
    text-align: center;
    justify-content: center;
}
.socialLinks{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: 30%;
    
}
.socialLinks li a{
    text-decoration: none;
    font-size: 30em;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    background: #0ea4be;
    color: #ffffff;
    border-radius: 50%;
}



/*            <---------------S E R V I C I O S--------------->             */

.servContainer{
    min-height: 100%;
    min-width: 100%;
    display: grid;
    grid-template-areas: 
    "header header header header"
    "title title title title"
    "serv1 serv1 serv1 serv1"
    "serv2 serv2 serv2 serv2"
    "serv3 serv3 serv3 serv3"
    "footer footer footer footer"
    ;
    gap: 2em;
    
}
header{
    grid-area: header;
}

.titleServicios{
    grid-area: title;
    display: flex;
    font-size: 10em;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;
    justify-content: center;
    text-align: center;
}
.serv1{
    grid-area: serv1;
}
.subServicio1{
    display: flex;
    justify-content: center;
    font-family: 'Abel', sans-serif;
    font-size: 6em;
    margin-top: .6em;
}
.imgServicios1{
    display: flex;
    margin-right: 6em;
    border-radius: 5%;
    justify-content: center;
}
.textServicio1{
    
    font-family: 'Advent Pro', sans-serif;
    font-size: 5em;
    display: flex;
    justify-content: center;
    text-align: center;
}
.serv2{
    grid-area: serv2;
}

.subServicio2{
    
    display: flex;
    justify-content: center;
    font-family: 'Abel', sans-serif;
    font-size: 6em;
}
.imgServicios2{
    
    display: flex;
    margin-left: 5em;
    border-radius: 5%;
    justify-content: center;
}
.textServicio2{
    
    font-family: 'Advent Pro', sans-serif;
    font-size: 5em;
    display: flex;
    justify-content: center;
    text-align: center;
}
.serv3{
    grid-area: serv3;
}

.subServicio3{
    
    display: flex ;
    justify-content: center;
    font-family: 'Abel', sans-serif;
    font-size: 6em;
}
.imgServicios3{
    
    display: flex;
    border-radius: 5%;
    justify-content: center;
}
.textServicio3{
    font-family: 'Advent Pro', sans-serif;
    font-size: 5em;
    display: flex;
    justify-content: center;
    text-align: center;
}
.foot{
    grid-area: footer;
    
}



/*            <---------------C O N T A C T O--------------->             */

.container-Contacto{
    display: grid;
    grid-template-areas: 
    "header"
    "titleContacto"
    "textoContacto"
    "formContacto"
    "footer"
    ;
}

.titleContacto{
    grid-area: titleContacto;
    display: flex;
    font-size: 10em;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;
    justify-content: center;
    text-align: center;
}
.textoContacto{
    grid-area: textoContacto;
    font-family: 'Advent Pro', sans-serif;
    font-size: 3.5em;
    display: flex;
    justify-content: center;
    text-align: center;
}
.formContainer{
    grid-area: formContacto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 2em 2em 5em 2em 2em;
    font-size: 8em;
    font-family: 'Abel', sans-serif;
}
.nombreContacto, .apeContacto, .emailContacto, .telContacto, .checkContacto, .botonesContacto{
    text-align: center;
    align-self: center;
}
.boxConsulta{
    grid-column: 1/3;
    text-align: center;
    align-self: center;
}


@media screen and (max-width:768px) {
    
    .homeContainer{
        display: grid;
        grid-template-areas:
        "header header" 
        "who who"
        "news news"
        "clientes clientes"
        "footer footer";
            
    } 
    .servContainer{
            grid-template-areas: 
            "header"
            "title"
            "serv1"
            "serv2"
            "serv3"
            "footer"
            ;

        }
        .titleServicios{
            grid-area: title;
        }
        .serv1{
            grid-area: serv1;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }

        .serv2{
            grid-area: serv2;
          
        }
        .serv3{
            grid-area: serv3;
        }
        .foot{
            grid-area: footer;
        }
        
}


