*{
    margin: 0%;
    padding: 0%;
  
}
html{
    width: 100%;
    height: 100%;
}
.homeContainer{
    min-width: 100%;
    background-image: url("../imagenes/pexels-stein-egil-liland-3374210.jpg");
    background-size: cover;
    background-attachment: fixed;
}
a{
   &:hover{
    transform: scale(1.1)
   } 
}









