@media screen and (max-width:425px){

    .title{
        padding-top: 1em;
        font-size: 2.4em;
    }
    .socialLinks{
        width: 60%;
    }
    .who, .news, .clientes{
        font-size: 2.0em;
    }
    
    .whoTexto, .listaNews, .textoClientes{
        font-size: 1em;
    }
}