$color:#ffffff;
@mixin texto {
    
    font-family: 'Arvo', sans-serif;
    font-size: 1.2em;
    text-align: center;
}
@mixin subtitle{
    
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
@mixin title {
    
    display: flex;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    justify-content: center;
    width: 100%;
}

