$color:#ffffff;
@mixin texto {
    font-family: 'Arvo', sans-serif;
    font-size: 1.2em;
    text-align: center;
}
@mixin subtitle{
    font-size: 2.5em;
    font-family: 'Arima Madurai', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
@mixin title {
    display: flex;
    font-size: 4.2em;
    font-family: 'Baumans', sans-serif;
    font-weight: 600;
    justify-content: center;
    margin-bottom: 1em;
    }