
                                /*---------------Q U I E N E S  S O M O S---------------*/
.title{
    @include title;
}
#who{
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: #FFEDE1;
}
.who{
    @include subtitle;
    text-align: center;
}
.whoTexto{
    @include texto;
}
.corteFondo{
    background-image: url("../../imagenes/BEERNNING-0051.jpg");
    background-size: cover;
    background-attachment: fixed;;
    height: 2em;
}
                                /*---------------N O V E D A D E S---------------*/

#news{
    background-color: #FFEDE1;
}
.news{
    @include subtitle;
    
}
.fotoNews4{
    max-width: 100%;
}

.listaNews{
    @include texto;
}

                                /*---------------C L I E N T E S---------------*/

#clientes{
    background-color: #AFCBFF;
}                              
.clientes{
    @include subtitle;
    
}
.textoClientes{
    @include texto;
}