
                                /*---------------Q U I E N E S  S O M O S---------------*/
.title{
    @include title;
    text-align: center;
}
#who{
    padding-top: 7em;
    padding-bottom: 3em;
    background-color: #fff;
    
}
.who{
    @include subtitle;
    text-align: center;
}
.whoTexto{
    @include texto;
}
.corteFondo{
    background-color: #000;
    height: 1.5em;
}
                                /*---------------N O V E D A D E S---------------*/

#news{
    background-color: #fff;
    
}
.news{
    @include subtitle;
    
}
.fotoNews4{
    max-width: 100%;
}

.listaNews{
    @include texto;

}
.titleCarousel, .textoCarousel{
    color: black;
}

                                /*---------------C L I E N T E S---------------*/

#clientes{
    background-color: #fff;
    padding-top: 4em;
    padding-bottom: 5em;
    
}                              
.clientes{
    @include subtitle;
    
}
.textoClientes{
    @include texto;
}