
                                /*---------------Q U I E N E S  S O M O S---------------*/
.title{
    @include title;
}
#who{
    margin-bottom: 1.5em;
    background-color: #FFEDE1;
}
.who{
    @include subtitle;
    text-align: center;
}
.whoTexto{
    @include texto;
}

                                /*---------------N O V E D A D E S---------------*/

#news{
    margin-bottom: 1.5em;
    background-color: #FFEDE1;
}
.news{
    @include subtitle;
    
}
.fotoNews4{
    max-width: 100%;
}

.listaNews{
    @include texto;
}

                                /*---------------C L I E N T E S---------------*/

#clientes{
    background-color: #AFCBFF;
    margin-bottom: 1em;
}                              
.clientes{
    @include subtitle;
    
}
.textoClientes{
    @include texto;
}