
/*---------------S E R V I C I O S---------------*/

.titleServicios{
    @include title;
    
}
.subServicio{
    @include subtitle;
    padding-top: 3em;
    font-size: 2em;
    
}
.subServicio2, .subServicio3{
    @extend .subServicio
}
.textoServ{

    @include texto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgServicios1{
    margin-bottom: 2em;
    margin-top: 2em;
    width: 100%;
}
.imgServicios2, .imgServicios3{
    @extend .imgServicios1
}
.consulta{
    @include subtitle;
    padding-bottom: 2em;
    text-decoration: underline;
}