                                /*---------------H E A D E R  Y  N A V---------------*/


.logoHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../imagenes/pexels-stein-egil-liland-3374210.jpg");
    background-size: cover;
    background-attachment: fixed;
    .logo{
        padding: .3em .3em .3em .3em;
        border-radius: 50%;
        height:  13em;
    }
}
.navbar-nav{
    font-family: 'Arvo', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.navbar-brand{
    @extend .navbar-nav
}