                                /*---------------H E A D E R  Y  N A V---------------*/

.navbar-nav{
    font-family: 'Arvo', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.navbar-brand{
    @extend .navbar-nav
}

.imgHeader2{
    max-width: 100%;
}